ENVIRONMENT='development'
ANOM_HOSTNAME=
APP_VERSION='init-alfa'

# MySQL connection
# --- -- -- - - -
DB_NAME=
DB_USER=
DB_PASS=
PDO_HOST=

# mailhog
# == testting/fake email service
# --- -- -- - - -
# MAIL_HOST=mailhog_server
# MAIL_PORT=1025
# MAIL_USERNAME=
# MAIL_PASSWORD=
# MAIL_ENCRYPTION=

# SMTP setup
# == read mail server
# --- -- -- - - -
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
NO_REPLY_EMAIL=noreply@...
REPLY_TO_EMAIL=webmaster@r...
MAIL_FROM_NAME=Classroom

# redis cache server
# --- -- -- - - -
# REDIS_HOST=redis
# REDIS_PASSWORD=
# REDIS_PORT=6379