:root {
    --background-image: url(/assets/media/fall-08.webp);
    --form-layer-bgr: #cccc;
    --bs-heading-color: #ffe;
    --menu-hover-bgr: #fcc;
    --info-text-color: #112;
    --img-credit-hover-color: #334;
}
