:root {
    --background-image: url(/assets/media/fall-11.webp);
    --form-layer-bgr: #cccc;
    --bs-heading-color: #ffe;
    --menu-hover-bgr: #f5e5e5;
    --info-text-color: #112;
    --img-credit-hover-color: #334;
}
