:root {
    --background-image: url(/assets/media/summer-10.webp);
    --bs-heading-color: #230;
    --menu-hover-bgr: #e0f0f7;
    --info-text-color: #334;
    --img-credit-hover-color: #334;
    --img-credit-color: #478;
}
